= content_tag(:ul, class: bem_class_for(:navigation, ['profile']))
  = content_tag(:li)
    = button_to('Sign out', {url: session_path,:method => :delete },{class: bem_class_for(:button, ['danger'])})