= link_to('Example', '#', class: bem_class_for(:button, ['small']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['large']))

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['small']), disabled: true)
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button), disabled: true)
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['large']), disabled: true)

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['small', 'block']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['block']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['large', 'block']))

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['danger', 'small']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['danger']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['danger', 'large']))

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['danger', 'small']), disabled: true)
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['danger']), disabled: true)
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['danger', 'large']), disabled: true)

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['danger', 'small', 'block']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['danger', 'block']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['danger', 'large', 'block']))

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['primary', 'small']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['primary']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['primary', 'large']))

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['primary', 'small']), disabled: true)
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['primary']), disabled: true)
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['primary', 'large']), disabled: true)

br
br

= link_to('Example', '#', class: bem_class_for(:button, ['primary', 'small', 'block']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['primary', 'block']))
| &nbsp;
= link_to('Example', '#', class: bem_class_for(:button, ['primary', 'large', 'block']))

br