br
= info_notification("Info title", "This is an info notification.")
br
= success_notification("Success title", "This is a success notification.")
br
= warning_notification("Warning title", "This is a warning notification.")
br
= danger_notification("Danger title", "This is a danger notification.")
br