.button {
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: $white;
  border: 1px solid $gray;
  color: $black;

  input {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    background-color: $white;
    color: $black;
  }

  &.button_hover, &.button_focus,
  &:hover, &:focus {
    background-color: red;
  }

  &.button_active,
  &:active {
    background-color: blue;
  }

  &.button_disabled,
  &[disabled] {
    background-color: yellow;
  }

  @include input-default;
}