.button_main-navigation {
  display: block;
  padding: 15px 0 30px 0;
  height: 15px;
  line-height: 15px;
  text-align: center;
  color: $white;
  background: none;
  border: none;
  @include border-bottom-radius(0);

  &.button_hover, &.button_focus,
  &:hover, &:focus {
    border: none;
    font-weight: bold;
    color: $black;
    background-color: $white;
  }

  &.button_active,
  &:active {
    border: none;
    font-weight: bold;
    color: $black;
    background-color: $white;
  }

  &.button_disabled,
  &[disabled] {
    //?: Are overwrites needed here?
  }
}