.button {
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: $white;
  border: 1px solid $gray;

  @include input-default;
}