.color { background: none; }

.color_black   { background-color: $black;   color: $white; }
.color_white   { background-color: $white;   color: $black; }
.color_gray_1  { background-color: $gray_1;  color: $black; }
.color_gray_2  { background-color: $gray_2;  color: $black; }
.color_red_1   { background-color: $red_1;   color: $black; }
.color_red_2   { background-color: $red_2;   color: $black; }
.color_red_3   { background-color: $red_3;   color: $black; }
.color_red_4   { background-color: $red_4;   color: $black; }
.color_green_1 { background-color: $green_1; color: $black; }
.color_green_2 { background-color: $green_2; color: $black; }
.color_green_3 { background-color: $green_3; color: $black; }
.color_green_4 { background-color: $green_4; color: $black; }