.color { background: none; }

.color_black   { background-color: $black;   color: $white; }
.color_white   { background-color: $white;   color: $black; }

.color_gray_1  { background-color: $gray_1;  color: $gray_5; }
.color_gray_2  { background-color: $gray_2;  color: $gray_5; }
.color_gray_3  { background-color: $gray_3;  color: $gray_5; }
.color_gray_4  { background-color: $gray_4;  color: $gray_2; }
.color_gray_5  { background-color: $gray_5;  color: $gray_2; }
.color_gray_6  { background-color: $gray_6;  color: $gray_2; }

.color_red_1   { background-color: $red_1;   color: $red_5; }
.color_red_2   { background-color: $red_2;   color: $red_5; }
.color_red_3   { background-color: $red_3;   color: $red_5; }
.color_red_4   { background-color: $red_4;   color: $red_2; }
.color_red_5   { background-color: $red_5;   color: $red_2; }
.color_red_6   { background-color: $red_6;   color: $red_2; }

.color_green_1 { background-color: $green_1; color: $green_5; }
.color_green_2 { background-color: $green_2; color: $green_5; }
.color_green_3 { background-color: $green_3; color: $green_5; }
.color_green_4 { background-color: $green_4; color: $green_2; }
.color_green_5 { background-color: $green_5; color: $green_2; }
.color_green_6 { background-color: $green_6; color: $green_2; }

.color_yellow_1 { background-color: $yellow_1; color: $yellow_5; }
.color_yellow_2 { background-color: $yellow_2; color: $yellow_5; }
.color_yellow_3 { background-color: $yellow_3; color: $yellow_5; }
.color_yellow_4 { background-color: $yellow_4; color: $yellow_2; }
.color_yellow_5 { background-color: $yellow_5; color: $yellow_2; }
.color_yellow_6 { background-color: $yellow_6; color: $yellow_2; }

.color_blue_1 { background-color: $blue_1; color: $blue_5; }
.color_blue_2 { background-color: $blue_2; color: $blue_5; }
.color_blue_3 { background-color: $blue_3; color: $blue_5; }
.color_blue_4 { background-color: $blue_4; color: $blue_2; }
.color_blue_5 { background-color: $blue_5; color: $blue_2; }
.color_blue_6 { background-color: $blue_6; color: $blue_2; }
