.l-header {
  color: $white;
  background-color: $black;
}

.l-logo {
  height: 55px;

  .logo {
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }
}

.l-main-navigation {
  height: 55px;

  > .navigation {
    margin-top: 10px;
  }
}

.l-profile-navigation {
  height: 55px;
}

.l-messages {
}

.l-body {
}

.l-footer {
  > .container {
    text-align: center;
  }
}