.l-header {
  text-align: center;
  outline: 1px dotted red;
}

.l-messages {
  outline: 1px dotted red;
}

.l-body {
  text-align: center; 
  outline: 1px dotted red;
}

.l-footer {
  text-align: center;
  outline: 1px dotted red;
}