.l-header {
  text-align: center;
  > .container {
  }
}

.l-messages {
  padding-top: 10px !important;
}

.l-body {
  text-align: center;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.l-footer {
  text-align: center;
  > .container {
  }
}