= content_tag(:ul, class: "#{bem_class_for(:navigation, ['main'])} grid")
  = content_tag(:li, class: "#{bem_class_for(:grid, [2, 'alpha', 'omega'])} navigation__item navigation_main__item")
    = link_to('Words', '#', class: bem_class_for(:button, ['main-navigation', 'active']))