$button_default_background: $white;
$button_default_border: $gray_4;
$button_default_text: $gray_1;

$button_default_hover_background: $gray_6;
$button_default_hover_border: $gray_4;
$button_default_hover_text: $gray_1;

$button_default_disabled_background: $white;
$button_default_disabled_border: $gray_5;
$button_default_disabled_text: $gray_4;

$button_primary_background: $green_3;
$button_primary_border: $green_3;
$button_primary_text: $white;

$button_primary_hover_background: $green_4;
$button_primary_hover_border: $green_4;
$button_primary_hover_text: $white;

$button_primary_disabled_background: $green_3;
$button_primary_disabled_border: $green_3;
$button_primary_disabled_text: $green_2;

$button_danger_background: $red_3;
$button_danger_border: $red_3;
$button_danger_text: $white;

$button_danger_hover_background: $red_4;
$button_danger_hover_border: $red_4;
$button_danger_hover_text: $white;

$button_danger_disabled_background: $red_3;
$button_danger_disabled_border: $red_3;
$button_danger_disabled_text: $red_2;