$notification_info_background: $blue_6;
$notification_info_border: $blue_5;
$notification_info_text: $blue_3;

$notification_success_background: $green_6;
$notification_success_border: $green_5;
$notification_success_text: $green_3;

$notification_warning_background: $yellow_6;
$notification_warning_border: $yellow_5;
$notification_warning_text: $yellow_3;

$notification_danger_background: $red_6;
$notification_danger_border: $red_5;
$notification_danger_text: $red_3;