$black: #000000;

$white: #FFFFFF;

$gray_1: #EBEBEB;
$gray_2: #ADADAD;

$red_1: #D9534F;
$red_2: #D43F3A;
$red_3: #D2322D;
$red_4: #AC2925;

$green_1: #5cb85c;
$green_2: #4cae4c;
$green_3: #47a447;
$green_4: #398439;

@import "button";